* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body{
  background-color: #F2F2F2;
  font-family: barlow condensed, sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background-color: #F2F2F2;
  width: 100%;
  position: fixed;
  z-index: 1;
  text-align: center;
}

.header img {
  display: block;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.navbar a:hover {
  background-color: black;
  color: white;
}

.navbar li {
  display: inline-block;
  margin: 10px 50px;
  list-style-type: none;
}

.header input {
  float: right;
  position: relative;
  top: -30px;
  margin: 0px 35px;
}

/* search bar disappears if window is too small */
@media (max-width: 1500px) {
  .header input {
    display: none;
  }
}

#shoppingcart {
  float: right;
  position: relative;
  top: -30px;
  color: black;
  text-decoration: none;
  margin: 0px 15px;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: relative;
  top: 150px;
  background-color: rgb(234, 234, 234);
  overflow-x: hidden;
  text-align: center;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  color: black;
  display: block;
}

.sidebar a:hover {
  background-color: black;
  color: white;
}

.main {
  position: relative;
  top: 100px;
  text-align: center;
}

.shopButton a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.shopButton a:hover {
  background-color: black;
  color: white;
}

.main p {
  margin: 10px 0px;
}

.subheading h2 {
  background-color: rgb(234, 234, 234);
  padding: 20px;
  position: relative;
  top: 100px;
  text-align: center;
}

.ad img {
  width: 700px;
  height: 600px;
  margin: 20px;
}

.items ul {
  text-align: center;
  position: relative;
  top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.items li {
  display: inline-block;
  margin: 30px;
  list-style-type: none;
}

.item {
  width: 255px;
  height: 308px;
}

.item img {
  width: 200px;
  height: 250px;
}

.item a {
  text-decoration: none;
  color: black;
}

.item p {
  margin: 10px;
}

.footer {
  background: black;
  color: rgb(165, 163, 163);
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 50px;
  width: 100%;
  margin: 200px 0px 0px 0px;
}

.footer li {
  display: inline-block;
  margin: 10px 50px;
  list-style-type: none;
}
