<!doctype html>
<html lang="en">
<head>
  <title>{{ title }}</title>
   <link rel="stylesheet" type="text/css" href="/static/WWUI.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- Header -->
  <div class="header">
    <a href="/" ><img id= "logo" alt="WW logo" src="/static/ww_logo.jpeg"
      width="100"
      height="50"
    /> </a>
    <div class="navbar">
      <ul> 
        <li><a href="/items/new">New & Featured</a></li>
        <li><a href="/items/men">Men</a></li>
        <li><a href="/items/women">Women</a></li>
        <li><a href="/items/kid">Kids</a></li>
        <li><a href="/items/sale">Sale</a></li>
      </ul>  
    </div>
    <a href="/cart" class="fa fa-shopping-cart" id="shoppingcart"> </a>
    <input type="text" placeholder="Search..." title="Search">
  </div>
  
<!-- Sidebar -->
  <div class="sidebar">
    <a href="/items/top">Tops</a>
    <a href="/items/bottom">Bottoms</a>
    <a href="/items/shoe">Shoes</a>
  </div>
<!-- Items -->
  <div class="items">
    <ul>
      {% for x in results %}
      <li>
      <div class="item">
        <a href="/item/{{ x.id }}"><img src="/static/{{ x.id }}.png" alt="{{ x.name }}"></a>
        <p><a href="/item/{{ x.id }}">{{ x.name }}</a></p>
        <p>${{ x.price }}</p>
      </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- <footer> -->
  <div class="footer">    
    <ul> 
      <li>Order Status</li>
      <li>Shipping and Delivery</li>
      <li>Returns</li>
      <li>About Us</li>
      <li>Contact Us</li>
    </ul> 
  </div>
</body>
</html>
