<!doctype html>
<html>
<head>
  <title>Hello World</title>
</head>
<body>
<!-- Header -->
    <div>
        <ul>
            <li><a>New & Featured</a></li>
            <li><a>Men</a></li>
            <li><a>Women</a></li>
            <li><a>Kids</a></li>
            <li><a>Sale</a></li>
        </ul>
    </div>
<!-- Ads -->
    {% for x in results %}
    <div>
        <img src="/static/{{ x.id }}.png">
        <p>{{ x.description }}</p>
        <p><a href="{{ x.link }}">Shop Now</a></p>
    </div>
    {% endfor %}
</body>
</html>
