<!doctype html>
<html lang="en">
<head>
  <title>Wajdi's Warehouse</title>
  <link rel="stylesheet" type="text/css" href="/static/WWUI.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- Header -->
    <div class="header">
        <a href="/"><img id="logo" src="/static/ww_logo.jpeg"
        width="100"
        height="50"
        /></a>
      <div class="navbar">
        <ul>
          <li><a href="/items/new">News & Featured</a></li>
          <li><a href="/items?gender=M">Men</a></li>
          <li><a href="/items?gender=W">Women</a></li>
          <li><a href="/items/kid">Kids</a></li>
          <li><a href="/items/sale">Sale</a></li>
        </ul>
      </div>
      <a href="/cart" class="fa fa-shopping-cart" id="shoppingcart"></a>
      <input type="text" placeholder="Search..." title="Search">
    </div>
  
<!-- Subheading -->
    <div class="subheading">
      <h2>Summer 2022</h2>
    </div>  
  
<!-- Ads -->
  <div class="main">
    {% for x in results %}
    <div class="ad">
      <a href="{{ x.link }}"><img src="/static/{{ x.id }}.png" alt="{{ x.description }}"></a>
        <p>{{ x.description }}</p>
    </div>
    <div class="shopButton">
      <p><a href="{{ x.link }}">Shop Now</a></p>
      <br/>
    </div>
    {% endfor %}
  </div>
<!-- <footer> -->
  <div class="footer">
        <ul> 
          <li>Order Status</li>
          <li>Shipping and Delivery</li>
          <li>Returns</li>
          <li>About Us</li>
          <li>Contact Us</li>
        </ul> 
  </div> 
</body>
</html>
