{% for x in results %}
<!doctype html>
<html>
<head>
  <title>{{ x.name }}</title>
</head>
<body>
<!-- Header -->
<!-- Image -->
    <div>
        <img src="/static/{{ x.id }}.png">
        <p><a href="">View more images</a></p>
    </div>
<!-- Item Info -->
    <div>
        <h2>{{ x.name }}</h2>
        <h3>{{ x.category }}</h3>
        <p>Style: {{ x.id }}</p>
        <button type="button">Add to Cart</button>
        <p><a href="/item/description/{{ x.id }}">Read more about this item.</a></p>
    </div>
</body>
</html>
{% endfor %}