<!doctype html>
<html>
<head>
  <title>{{ result.name }}</title>
</head>
<body>
<!-- Header -->
<!-- Image -->
    <div>
        <img src="/static/{{ result.id }}.png">
        <p><a href="/item/images/{{ result.id }}">View more images</a></p>
    </div>
<!-- Item Info -->
    <div>
        <h2>{{ result.name }}</h2>
        <h3>{{ result.category }}</h3>
        <p>Style: {{ result.id }}</p>
        <button type="button">Add to Cart</button>
        <p><a href="/item/description/{{ result.id }}">Read more about this item.</a></p>
    </div>
</body>
</html>