<!DOCTYPE html>
<html>

<head>
  <!-- Clothing Store -->
  <title>Wajdi's Warehouse</title>
  <link rel="stylesheet" type="text/css" href="WWUI.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="box1">
    <img src="Wajdi's Warehouse Logo.jpeg"
    width="100"
    height="50"
    align="left" />

    <ul>
      <li><a href= "">News & Featured</a></li>
      <li><a href= "">Men</a></li>
      <li><a href= "">Women</a></li>
      <li><a href= "">Kids</a></li>
      <li><a href= "">Sale</a></li>
    </ul>

    <input type="text" placeholder="Search...">
  </div>

  <i class="fa fa-shopping-cart"></i>

</body>

</html>
